article.card-equipment {
  background-color: white;
  border: $brandt-type-light;
  border-radius: $base-border-radius;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  text-decoration: none !important;
  margin: 0px 10px 0px 0px;
  
  position: relative;
  display: block;
  transition: all 0.2s ease-in-out;
  padding-bottom: 10px;
  
  .img-wrap{
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    background-color: darken( $card-background, 15%);
    
    img{
      width: 100%;
      padding: 0;
      margin: 0;
      height: auto;
    }
  }
   
  .card-header {

	padding: 10px 5px 10px 5px;
	display: block;
	
	h2.product-name {
	    line-height: 1;
	    font-size: 24px;
	    margin-bottom: 10px;
	    color: $brandt-type-base;
	    word-break: break-word;
	}
	  
	h3.model-description{
	    line-height: 1;
	    font-size: 20px;
	    color: $brandt-type-base;
	    opacity: 0.8;
	    word-break: break-word;
	    margin-bottom:  0px;
	}
  }
  
  .product-detail {
	    font-size: 14px;
	    border-top:  $card-border;
	    border-bottom: $card-border;
	    line-height: 1.8em;
	    color: $brandt-type-base;
	    line-height: 1.5;
	    padding: 10px 5px 10px 5px;
	     display: block;
	    dl{
		   
		    dt{}
		    dd{ margin-bottom: 10px;}
	    }
	    
  }
  
  .card-footer{
	  padding: 20px 5px 20px 5px;
	  transition: all 0.2s ease-in-out;
	  text-align: center;
	  display: block;
	   
	  .product-price{
		   	color: $brandt-orange;
		    margin-bottom:20px;
		    
		      span.currency {
		      font-weight: 400;
		      font-size: .8em;
		    }
	  	}
	  	
	  	// Sale
	  	.product-price-old {
		    text-decoration: line-through;
		    color: #949494;
		    margin-bottom: 6px;
		    font-size: 1.4rem;
		  }
		  
		  .now-only {
		    color: $brandt-orange;
		    text-transform: uppercase;
		    margin: 0px;
		    font-family: "league-gothic", Helvetica, Arial, sans-serif;
		    font-weight: 400;
		    font-size: 18px;
		  }
		  
		  .product-price {
		    color:$brandt-orange;
		    margin:0px;
		    margin-bottom:10px;
		  }
		  
		  .btn-ghost{
		    background-color: #d1d3d4;
		    border: solid 2px  #d1d3d4;
		    color: #58595b;
		}
   }

  .card-content {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);
  }

  .equip-id{
    margin: 10px 0px;
    text-align: center;
  }
  
  &:focus,
  &:hover,
  &:active {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25);
    
    text-decoration: none !important;
    
    .btn-ghost{
      background-color: $brandt-orange;
      border: solid 2px $brandt-orange;
      color: $white;
    }
    
  }
}
article.card a,
article.card a:hover { 
	text-decoration: none !important;
}



article.card-equipment.card-equipment-mini{
	.card-header {
		padding: 20px 5px 20px 5px;
		height: 10em;
	}
	.card-footer{
		padding: 20px 5px 20px 5px;
		border-top:  $card-border;
	}
}


#product-grid article.card-equipment {
//   width: 255px ;
}
