article.card-model,
article.card-model.card-model--light {
	background-color: #E6E7E8;
	border: $brandt-type-light;
	border-radius: $base-border-radius;
	box-shadow: 0 2px 4px darken($base-background-color, 10%);
	text-decoration: none !important;
	margin: 0 0 0px 0;
	position: relative;
	display: block;
	transition: all 0.2s ease-in-out;
	padding-bottom: 10px;
	
	.card-header {
		 padding: ($base-spacing / 2) ($base-spacing / 2);
		 background-color: black;
		 h2.model-name {
		    line-height: 1;
		    font-size: 24px;
		    margin-bottom: 0px;
		    color: white;
		    word-break: break-word;
		}
		  
		h3.model-info{
		    line-height: 1;
		    font-size: $font-size-h5;
		    color: white;
		    opacity: 0.8;
		    word-break: break-word;
		    margin-bottom:  0px;
		}
	 }
	 
	.img-wrap{
	    width: 100%;
	    padding: 0;
	    margin: 0;
	    height: auto;
	    background-color: darken( $card-background, 15%);
	    
	    img{
	      width: 100%;
	      padding: 0;
	      margin: 0;
	      height: auto;
	    }
	}
	
	.product-detail {
		padding: ($base-spacing / 2) ($base-spacing / 2);
	    font-size: 14px;
	    line-height: 1.8em;
	    line-height: 1.5;
	    color: $text-color;
	    dl{
		   
		    dt{}
		    dd{ margin-bottom: 10px;}
	    }
  }

}

article.card-model.card-model--dark{
	background-color: #414042;
	color: $white;
	
	.card-header {
		background-color: #000;
	}
	
	h2.model-name,
	h3.model-info,
	.product-detail {
		color: $white;
	}
	
	&:focus,
	&:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.25);
     background-color: #000;
  }
	
}

article.card-model.card-model--accent{
	background-color: #000;
	color: $white;
	
	.card-header {
		background-color: $brandt-orange;
	}
	
	h2.model-name,
	h3.model-info,
	.product-detail {
		color: $white;
	}
}

