.LatestListings-header {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  margin-bottom: 20px;
  align-items: center;
  
  .LatestListings-title {
    //color: $camex-green;
    flex: 1 1 auto;
    text-align: left;
    h2 {
       margin-bottom: 0px;
       color: $brandt-type-strong;
    }
    h5 {
      color: $brandt-type-base;
      margin: 0px;
      padding: 0px;
      line-height: 1;
    }
  }
  .LatestListings-button{
    flex: 0 0  100px;
    text-align: right;
  }
}

.camex-feature-equip {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  padding: 0px 0px;
  margin: 0px;
  
  .camex-feature-head {
    width: 100%;
    padding: 0px;
    margin: 0px 0px 20px 0px;

    .camex-feature-title {
      display: inline-block;
      width: 50%;
      float: left;
      padding: 0px;
      margin: 0px;
      h2 {
        padding: 0px;
        margin: 0px;
      }
    }
    .camex-feature-button{
      width: 50%;
      float: right;
      padding: 15px 0;
      margin: 0px;
    }
  }
}