body.btrt-product-new {
  .btrt-show-rentals {
    display: none !important;
  }
  .btrt-show-used {
    display: none !important;
  }
  
  .btrt-hide-new {
    display: none !important;
  }
}


body.btrt-product-used {
 
  .btrt-show-rentals {
    display: none !important;
  }
  .btrt-show-new {
    display: none !important;
  }
  .btrt-hide-used {
    display: none !important;
  }
}


body.btrt-product-rental {
  .btrt-show-used {
    display: none !important;
  }
  .btrt-show-new {
    display: none !important;
  }
  .btrt-hide-rental {
    display: none !important;
  }
  .btrt-show-rentals {
    display: block !important;
  }
}
 
body.elementor-editor-preview {
   .btrt-show-rentals {
    display: block !important;
  }
  .btrt-show-used {
    display: block !important;
  }
  .btrt-hide-used {
    display: block !important;
  }
  .btrt-hide-new {
    display: block !important;
  }
   .btrt-show-new {
    display: block !important;
  }
  .btrt-hide-rental {
    display: block !important;
  }

}

// Layout
.wrapper-equip-single {
  background-color: #ffffff;
  margin: 0px auto;
} 

.product-container {
  display: flex;
  flex-direction: column;
  @media (min-width: $screen-md-min) { flex-direction: row; }
}

.product-main {
  flex: 0 0 100%;
  width: 100%;
  @media (min-width: $screen-md-min) { flex: 0 0 75%; width: 75%; }
  padding: 0px 10px;
  
  .owl-carousel {
    margin-bottom: 20px;
    width: 100%;
    max-width: 880px;
  }
  
  .owl-carousel .owl-item img {
    display: block;
    height: auto;
    width: 100%;
  }
}

.product-sidebar {
  flex: 0 0 100%;
  width: 100%;
  padding: 10px 10px;
  
  @media (min-width: $screen-md-min) { 
    flex: 0 0 25%;
    width: 25%;
    padding: 0px 10px; 
  }
  
}

#prod-desc{
  a{
    color: $brandt-orange !important;
     text-decoration: none !important;

    &:hover{
       color: $brandt-orange;
       text-decoration: underline !important;
    }
  }
}
// Typography

h1.product-name { 
  @extend h3;
  margin: 0 !important;
  color: $brandt-type-strong;
  margin-top: 10px;
  line-height: 1.1;
  @media (min-width: $screen-md-min) { 
     margin-bottom: 10px;
   }
}

h2.model-description {
  color: $brandt-type-base;
  @extend h4;
  line-height: 1;
  margin: 0;
}

h3.product-price {
  margin: 20px 0;
  @media (min-width: $screen-md-min) { margin-bottom: 20px !important;}
  line-height: 1.2;
  color: $brandt-orange;
  
  span.currency{
     font-weight: 400;
     font-size: 0.8em;
  }
  
  span.note{
    color: $brandt-type-base;
    margin: 0px auto;
    text-transform:uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px;
    display: block;
  }
  
  @media (min-width: $screen-md-min) { 
    margin-bottom: 0px; 
  }
}

h6.product-call {
  color: $brandt-type-strong;
  margin-top: 20px;
  font-size: 2rem;
  @media (min-width: $screen-md-min) { 
    margin-bottom: 20px;
  }
  line-height: 1;
  a{
    &:hover{
      color: $brandt-orange;
      text-decoration: none;
    }
  }
}

h4.product-price {
  font-size: 2.25rem;
}

h6.product-price {
  font-size: 1.25rem;
}

h5.product-description {
  height: 2em;
}

p.note {
  color: $brandt-type-base;;
  margin: 2px auto;
  font-size:10px;
}

/*
.product-desc{
  @media (min-width: $screen-sm-min) { height: 4em; }
  @media (min-width: $screen-md-min) { height: 6em; }
  @media (min-width: $screen-lg-min) { height: 6em; }
  margin-bottom: 10px;
  font-size: $font-size-small;
  color: $text-color;
}

.product-detail{
  font-size: 14px;
  line-height: 1.8em;
  color: $text-color;
  @media (min-width: $screen-sm-min) {height: 8em; }
  @media (min-width: $screen-md-min) {  height: 9em; }
  @media (min-width: $screen-lg-min) {  height: 9em; }
}
*/

.slide-wrap{
  position: relative;
}
.warranty-label {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 10px;
  background: rgba(255,255,255,0.5);
  h4{
    margin: 0px;
  }
  
}

.prodct-details {
  display: flex;
  flex-direction: column;
  @media (min-width: $screen-md-min) { flex-direction: row; }
}

.prodct-details > table {
  flex: 0 0 100%;
  width: 100%;
  @media (min-width: $screen-md-min) { flex: 0 0 50%; width: 50%; }
 

}

p.prodct-info {
  font-size: 0.8em;
}
//prodct-detailss
// Red Tag & Intrest Form
.calc-Form {
  
  > label {
    display: block;
    width: 100%;
    left: 1.25em;
    transition: all .3s ease-out;
    color: $brandt-type-base;
    font-size: 14px;
    padding: 4px 0;
    z-index: 1;
  }
  
  h4.intrestRate {
    font-size:  1.8rem
  }
  
  > input {
    display: block;
    outline: 0!important;
    background: #fff;
    border: 2px solid $brandt-type-light;
    transition: all .3s ease-in-out;
    margin-bottom: 10px;
    padding: .15em 1em .25em 1em;
    width: 100%;
    color: $brandt-type-strong;
  }
  
  .intRate{
    border: none;
    display: inline-block;
    width: 50%;
  }
}

.red-tag {
  padding: 8px 0px 8px 25px;
  width: 155px;
  line-height: 1;
  font-weight: 800;
  color: white;
  background-image: url('../img/red-tag.svg') !important;
  background-size: cover;
  
  span.calc-price{
    font-size: 24px;
  }
  
  span.price-detail {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    line-height: 1;
    display: block;
  }
}

.red-tag.center {
  padding: 14px 0px 8px 35px;
  margin: 0 auto;
  text-align: left;
  height: 54px;
  line-height: 1;
}

h6.product-price {
  font-size: 1.25 rem !important;
}
  
table.finance-summary {
  background: #eee;
  tr{
    padding: 0px;
  }
  td{
    padding: 4px 5px;
    font-size: 14px;
    text-align: left;
  }
  td.right{
    text-align: right;
  }
  td.summaryTotalBorder{
    border-bottom:  1px solid #757575;
  }
}

#calc-form-error {
  color: $brandt-orange;
  font-weight: 800;
  padding: 4px;
  font-size: 14px;
  text-align: center;
}

#calculator.ui-accordion .ui-accordion-header {
  font-size: 14px !important;
  color: #757575 !important;
  background: none !important;
  padding: 10px 0;
}

#calculator.ui-accordion .ui-state-active .ui-icon, .ui-button:active .ui-icon {
  background-image: url(../img/ui-icons_555555_256x240.png) !important;
}

#calculator.ui-accordion .ui-state-active {
  color: #757575 !important;
}

#calculator.ui-accordion .ui-accordion-content  {
  padding: 0px !important;
  border:  none !important;
}

// UI
.ui-widget-header a {
	color: $brandt-type-light !important;
}

.ui-accordion .ui-accordion-header {
  outline: none !important
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: none;
	background: $brandt-type-light;
	font-weight: normal;
	color: $brandt-type-base;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border:none;
	background: $brandt-orange;
	font-weight: normal;
	color: #ffffff;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	background: $brandt-orange;
	font-weight: normal;
	color: #ffffff;
}

