.holler-widget {}
.holler-team {}
.holler-team figure.img-wrap { margin-bottom: 1em !important; }
.holler-team figure.img-wrap img{ border-radius: 50%;}
.holler-team .team-header { text-align: center;}
.holler-team .team-header h2.team-name{ 
  font-size: 0.875em;
  font-weight: 800;
  line-height: 1.4;
  margin-bottom: 0;
  color: #505D68;
}
.holler-team .team-header h3.team-title {
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 1em;
  color: #A1AEB7;
}